
    <div>
        <h1>Prolunga la tua sosta</h1>
        <br>
        <table>
                <tr>
                    <th>INDIRIZZO</th>
                    <th>AUTO</th>
                    <th>INIZIO</th>
                    <th>FINE</th>
                    <th></th>
                    <th>DA PAGARE</th>
                    <th></th>
                </tr>
                <tr app-extension-stops-row *ngFor="let stop of myStopsList" [stop] = "stop"> 
                        

                </tr>
        </table>

        <a href="/Home/dispatchHome">Indietro</a><br>
        
        
    </div>
