

h1{
    text-align: center;
}

.title{
    margin-bottom: 40px;
}

button{
   width: 100%;
   border-radius: 20px;
}

.btn{
    padding-bottom: 20px;
    padding-top: 10px;
}

img{
    margin:0 auto;
    display: block;
    width: 70%;
}

#main{
    margin-top: 100px;
}

a{
    margin:0 auto;
    display: block;
    text-align: center;
}



