<!--
  Generated template for the CarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>    
    <ion-title>Gestione auto</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <h1>Lista auto</h1>
    <br>
    <div *ngIf="carsList" class="table-responsive">
        <table>
            
    
    
                <tr>
                    <th>Targa</th>
                    <th>Nome</th>
                    <th></th>
                </tr>
            
    
            <tr *ngFor="let car of carsList">
                <td>{{car.license_plate}}</td>
                <td>{{car.name}}</td>
                <td>
                    <input type="submit" (click)="deleteCar([car.id])" value="Delete">
                </td>
            </tr>
    
    
    
        </table>
    </div>
    
    <p>{{result}}</p>
    
    
    <a (click) = "addCar()" >Aggiungi auto</a>
    <br>


</ion-content>
