<!-- <h1>DRIVER</h1>
<br>
<a href="/#/findCarPlace">Trova parcheggio</a>
<br>
<a href="/#/extensionStops">Prolunga sosta</a>
<br>
<a href="/#/car">Aggiungi/Rimuovi auto</a>
<br>
<a href="/#/reportDriver">Invia segnalazione</a>
<br>
<a href="/#/reportNear">Segnalazioni del gestore</a>
<br>
<a href="/#/paymentsHystory">Pagamenti</a>
<br>
<a href="/#/usefulNumbers">Numeri utili</a>
<br>
<a href="/#/legislations">Normative</a>
<br>
<a href="/#/login">Logout</a>
<br> -->

<body>
    <div class="nav">
        <nav class="navbar navbar-light bg-dark nav justify-content-end" id="nav">

            <li class="nav-item">
                <a class="nav-link active" href="/#/findCarPlace">Trova parcheggio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#/extensionStops">Prolunga sosta</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#/car">Le mie auto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#/reportDriver">Invia segnalazione</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#/reportNear">Segnalazioni del gestore</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#/paymentsHystory">Pagamenti</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/#/usefulNumbers">Numeri utili</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="/#/legislations">Normative</a>
                    </li>
            <li class="nav-item">
                <a class="nav-link" (click) = "logout()">ESCI</a>
            </li>
        </nav>
    </div>
</body>