#carSelect{
    float: left;
    margin-right:2%;
    min-height: 40px;

    border-color: #34bfa3;
    border-width: 1px;
    border-radius: 3.25px;
    border-style: solid;
}

#select{
    //float: left;
    // margin-right:2%;
    // min-height: 40px;

    // border-width: 1px;
    // border-radius: 3.25px;
    // border-style: solid;
    border-color: #34bfa3;
}

#autocomplete{
    // margin-right:2%;
    // min-height: 40px;
    // font-size: 14px;

    // border-width: 1px;
    // border-radius: 3.25px;
    // border-style: solid;
    border-color: #34bfa3;
}

#blank{
    padding-top: 3%;
}

#selezionadiv{
    margin-right: 1.5%;
}

#slot, #newprice{
    margin-right: 2%;
    font-size:1.75rem;
}

app-find-carplace{
    font-family: Poppins !important;
}

label{
    font-size: 20px;

}

div {
    text-align: center;
}

#findPark{
    height: 60px;
}

input{
    font-family: Poppins !important;
    font-size: 15px;
}

select{
    font-family: Poppins !important;
    font-size: 15px;
}

a{
    text-decoration: none;
    color:white
}



