h1{
    //text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    margin:0px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    min-width: 400px;
}

a{
    color: #34bfa3;
}

.form-group{
    margin-bottom: 0px;
}