page-report-owner {

    .item{
        padding-right: 16px;
    }

    .item-inner{
        padding: 0 !important;
    }

    #send{
        width: 100%;
        background-color: #a8d342;
        color: #414a52;
     }
     
     .btn{
         padding-bottom: 20px;
         padding-top: 10px;
         padding-left: 16px;
         padding-right: 16px;
     }

   

}