h1{
    text-align: center;
    padding-top: 10%;
    color: black;
    font-family: 'Open Sans', sans-serif;
}



.table td, tr {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

p{
    color: red;
    text-align: center;
}

a{
    color: #34bfa3;
}

#addAuto {
    display: table;
    margin: 0 auto !important;
}
