page-report-driver {

    .item{
        padding-right: 16px;
    }

    .item-inner{
        padding: 0 !important;
    }

    #camera{
        width: 100%;
        background-color: #a8d342;
        color: #414a52;
     }
     
     .btn{
         padding-bottom: 20px;
         padding-top: 10px;
         padding-left: 16px;
         padding-right: 16px;
     }

     #col1{
         padding-left: 0;
     }

     #col2{
        padding-right: 0;
    }

   

}
