<!--
  Generated template for the PaymentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Gestione Pagamenti</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h1>Cronologia pagamenti</h1>
  <br>
  <div *ngIf="paymentList" class="table-responsive">
    <!-- <table>
      <thead>


        <tr>
          <th>Id pagamento</th>
          <th>Quantità</th>
          <th>Id sosta</th>
        </tr>
      </thead>



      <tr *ngFor="let payment of paymentList">
        <td>{{payment.id}}</td>
        <td>{{payment.quantity}}</td>
        <td>{{payment.id_stop}}</td>
      </tr>




    </table> -->


    <ion-list>
      <ion-item *ngFor="let payment of paymentList">
        <!-- <ion-thumbnail item-start>
          <img src="assets/icon/icon-1.png">
        </ion-thumbnail> -->
        <h2>Id pagamento: {{payment.id}}</h2>
        <h2>Quantità: {{payment.quantity}}</h2>
        <h2>Id sosta: {{payment.id_stop}}</h2>

        <!-- <ion-row>
          <ion-col text-right>
              <button ion-button small outline color="dark" (click)="deleteCar([car.id])" >
                  ELIMINA
              </button>
          </ion-col>
      </ion-row> -->

      </ion-item>
    </ion-list>

  </div>



  <!-- <a href="/#/homeDriver">Indietro</a>
  <br> -->

</ion-content>