<table class="table">
    <thead>
        <tr class="title">
            <th>Nome utente</th>
            <th>Id parcheggio</th>
            <th>Id pagamento</th>
            <th>Costo</th>
            <th>Inizio</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div size="10" id="slotsList">
                    <div *ngFor="let book of booksList">{{book.username}}</div>
                </div>
            </td>
            <td>
                <div size="10" id="slotsList">
                    <div *ngFor="let book of booksList">{{book.id_slot}}</div>
                </div>
            </td>
            <td>
                <div size="10" id="slotsList">
                    <div *ngFor="let book of booksList">{{book.id_payment}}</div>
                </div>
            </td>
            <td>
                <div size="10" id="slotsList">
                    <div *ngFor="let book of booksList">{{book.quantity}} €</div>
                </div>
            </td>
            <td>
                <div size="10" id="slotsList">
                    <div *ngFor="let book of booksList">{{book.start}}</div>
                </div>
            </td>
        </tr>
    </tbody>
</table>