@{
    Layout = null;
}


<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PCARPET</title>
</head>

<body class="text-center">
    <form class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal"><b>COP</b></h1>

        <a href="FindCarPlaceServlet">COP</a><br>
        <a href="BookServlet">COP</a><br>
</form>

</body>
</html>
