@{
    Layout = null;
}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PCARPET</title>

</head>

<body class="text-center">
    <form class="form-signin" action="LoginServlet" method="post">
        <h1 class="h3 mb-3 font-weight-normal"><b>OWNER</b></h1>
        <a href="/ManagementPark/ManagementParkControl">Gestione parcheggi</a><br>
        <a href="/Report/ownerAddReport">Invia segnalazione</a><br>
        <a href="/Report/ownerReportuser">Segnalazioni degli utenti</a><br>
        <a href="/Login/Logout">Logout</a><br>

    </form>

</body>
</html>
