@{
    Layout = null;
}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="/css/pcarpet.css">

    <title>Registration</title>

</head>

<body>

    <div class="col-md-4 mb-3">

        <h1>Registration</h1>

        <br>

        <form class="form-signin" action="/Signup/Registered" method="post">

            <input type="text" name="username" id="username" placeholder="Username" required autofocus><br>

            <input type="password" name="password" id="inputPassword" placeholder="Password" required autofocus><br>

            <input type="text" name="name" id="name" placeholder="Name"><br>

            <input type="text" name="surname" id="surname" placeholder="surname"><br>

            <input type="text" name="address" id="birthdate" placeholder="address"><br>

            <input type="text" name="cap" id="cap" placeholder="cap"><br>

            <input type="text" name="phone" id="phone" placeholder="phone" required autofocus><br>

            <input type="text" name="email" id="email" placeholder="email" required autofocus><br>

            <input type="text" name="handicapped" id="handicapped" placeholder="handicapped">


            <br>

            <button class="btn btn-lg btn-primary btn-block submit-button" type="submit">Sign up</button>
        </form>

        <a href="/Signup/Index">Indietro</a><br>

    </div>

</body>
</html>