<table class="table">
        <thead>
            <tr class="title">
                <th>Nome utente</th>
                <th>Prenotazione breve</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div size="10" id="slotsList">
                        <!-- <div *ngFor="let slot of slots" (click)="selectSlot(slot)">{{slot.address}}</div> -->
                    </div>
                </td>
                <td>
                    <div size="10" id="slotsList">
                    <!-- <div *ngFor="let slot of slots" (click)="selectSlot(slot)">{{slot.price}} €</div> -->
                </div></td>
            </tr>
        </tbody>
    </table>
    
    