<h2>Signup</h2>
<form class="userForm" #f="ngForm">

    <div class="form-group">
        <input type="text" name="username" id="username" placeholder="Username" ngModel required autofocus>
        <br>
    </div>

    <div class="form-group">
        <input type="password" name="password" id="inputPassword" placeholder="Password" ngModel required autofocus>
        <br>
    </div>

    <div class="form-group">
        <input type="text" name="name" id="name" placeholder="Name" ngModel>
        <br>
    </div>

    <div class="form-group">
        <input type="text" name="surname" id="surname" placeholder="surname" ngModel>
        <br>
    </div>

    <div class="form-group">
        <input type="text" name="address" id="birthdate" placeholder="address" ngModel>
        <br>
    </div>

    <div class="form-group">
        <input type="text" name="cap" id="cap" placeholder="cap" ngModel>
        <br>
    </div>

    <div class="form-group">
        <input type="text" name="phone" id="phone" placeholder="phone" ngModel required autofocus>
        <br>
    </div>

    <div class="form-group">
        <input type="text" name="email" id="email" placeholder="email" ngModel required autofocus>
        <br>
    </div>

    <div class="form-group">
        <input type="text" name="handicapped" id="handicapped" placeholder="handicapped" ngModel>
    </div>

    <br>

    <div class="form-group">
        <button (click)="signup(f)">Sign up</button>
    </div>
</form>

<a href="/#/login">Indietro</a>
<br>